<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block head_title %}Task Manager {% endblock head_title %}| Home</title>
    {% include 'snippets/css.html '%}
</head>
<body>
{% include 'snippets/nav.html' %}
<div class="conteiner">
{% block content %}
{% endblock content %}
</div>
<ul>
    {% for obj in object_list %}
    <li>{{ obj }}<br/>
        {{ obj.name }} {{ obj.creator }} {{ obj.created }} {{ obj.updated }}</li>

    {% endfor %}
</ul>




{% include 'snippets/js.html' %}
</body>
</html>